#header {
    padding: 0 100px;
    margin-top: 40px;
}

#header nav {
    display: flex;
    justify-content: space-between;
}

#header nav ul {
    display: flex;
}

.menu li {
    padding: 0 25px;
}

.menu li a {
    font-family: 'Montserrat';
    font-size: 18px;
}

.social__link {
    width: 38px;
    height: 38px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.social__link:first-child {
    margin-right: 25px;
}