#section04-02 {
  padding-top: 140px;
  background: #000;
  margin-left: -1px;
}
.mask {
  position: relative;
  width: 54%;
}

.section04-02__wrap h2 {
  font-family: "116watermelon";
  font-size: 100px;
}
.siteimage02 {
  position: absolute;
  left: 19px;
  top: 18px;
  width: 95%;
  z-index: 1;
}
.section04-02__inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.section04-02__desc {
  width: 40%;
}
.section04-02__desc p {
  font-family: "AritaBuri";
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}
.section04-02__desc ul {
  display: flex;
  flex-wrap: nowrap;
}
.section04-02__desc ul li {
  width: 120px;
  height: 120px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='92' height='92' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46 81.962l-8.269 8.272-4.722-10.7-10.698 4.726-.538-11.684-11.684.543 3.72-11.09-11.091-3.714 7.473-8.997-8.999-7.47 10.219-5.69-5.693-10.216 11.584-1.614-1.618-11.583 11.385 2.68 2.675-11.386 9.648 6.611L46 1l6.608 9.65 9.648-6.611 2.675 11.386 11.385-2.68-1.618 11.583 11.584 1.614-5.693 10.217 10.219 5.689-9 7.47 7.474 8.997-11.09 3.715 3.719 11.089-11.684-.543-.538 11.684-10.698-4.727-4.722 10.7L46 81.963z' fill='%23fff' stroke='%23000'/%3E%3C/svg%3E");
  background-size: cover;
  text-align: center;
}
.section04-02__desc ul li {
  margin-right: 30px;
}
.section04-02__desc ul li a {
  color: #000;
  font-family: "Aritaburi";
  font-style: normal;
  font-size: 24px;
  line-height: 120px;
}

.section04-02__desc .cloudSvg {
  width: 177px;
  transform: translate(-10%, -90%);
}
.section04-02__desc .cloud-white-small {
  width: 288px;
}

/* section04-04 */
.section04-02__desc .section04-04_station {
  width: 368px;
  transform: translate(50%, -70%);
}

.section04-02__desc .section04-04_bubble01 {
  width: 60px;
  transform: translate(-600%, -150%);
}

.section04-02__desc .section04-04_bubble02 {
  width: 60px;
  transform: translate(-520%, -50%) scale(0.4);
}

.section04-02__desc .section04-04_rocket {
  width: 214.51px;
  /* transform: translate(202%, -50%); */
  transform: translate(202%, -60%);
}

.section04-02__desc .section04-04_rocketfire {
  width: 214.51px;
  transform: translate(100%, 100%);
}

.section04-02__desc .section04-05-tree_leaf {
  width: 110px;
  transform: translate(100%, 100%);
}
