#section04 {
  width: 100%;
  background: #000;
  position: relative;
}
.section04__inner h2 {
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 120px;
  font-size: 150px;
  font-family: "BungeeShade";
}
.section04__inner h3 {
  margin-left: 120px;
  font-size: 35px;
  font-family: "IropkeBatang";
  line-height: 145.5%;
  margin-bottom: 110px;
}
.section04__inner ul {
  margin-left: 120px;
}
.section04__inner ul li {
  list-style: inside;
}
.section04__inner li a {
  font-family: "IropkeBatang";
  font-size: 30px;
  color: #fff;
}
.section04__outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.section04__outer .section04__island {
  position: absolute;
  right: 20%;
  bottom: 5%;
}
.section04__strainer {
  position: absolute;
  width: 120px;
  bottom: 15%;
  right: 10%;
  transform: rotate(20deg);
}
.map-line {
  stroke-dasharray: 12 12;
  stroke-dashoffset: 1000;
  animation: dash 30s linear infinite forwards;
}

@keyframes dash {
  to {
    stroke-dasharray: 12 12;
    stroke-dashoffset: 0;
  }
}
