#section03 {
  margin-top: 1000px;
}
#section03 h2 {
  color: #000;
  text-align: center;
  font-family: "BungeeShade";
  font-size: 150px;
  position: relative;
  margin-bottom: 140px;
}
h2 .modal-title {
  position: absolute;
  right: 250px;
  top: -60px;
  transform: rotate(38deg);
  width: 320px;
}
.section03__inner .cone {
  width: 120px;
  margin-bottom: 10px;
}

.section03__cardWrap h3 {
  color: #000;
  text-align: right;
  font-family: "116watermelon";
  font-size: 100px;
}
