#section03 {
  margin-top: 1000px;
}
#section03 h2 {
  color: #000;
  text-align: center;
  font-family: "BungeeShade";
  font-size: 150px;
  position: relative;
  margin-bottom: 140px;
}
h2 .modal-title {
  position: absolute;
  right: 250px;
  top: -60px;
  transform: rotate(38deg);
  width: 320px;
}
.section03__inner .cone {
  width: 120px;
  margin-bottom: 10px;
}

.section03__cardWrap h3 {
  color: #000;
  font-family: "116watermelon";
  font-size: 100px;
  position: relative;
}

.section03__cardinner {
  margin-top: 100px;
}
.section03__card {
  display: flex;
  justify-content: space-between;
  margin: 150px 0;
}
.section03__card .section03__card_svg {
  width: 46%;
  position: relative;
}
.section03__card .section03_svg01 {
  transform: rotate(-6deg);
}
.section03__card .section03_svg02 {
  transform: rotate(15deg);
}
.section03__card .section03__card_desc {
  width: 42%;
  color: #000;
  font-family: "Iropke Batang OTF";
  font-size: 30px;
}
.section03_divider {
  margin-bottom: 240px;
  width: 1000px;
}
.cat_svg {
  width: 160px;
  position: absolute;
  right: -30%;
  bottom: 30%;
  transform: rotate(-6.38deg);
}

.petrychka {
  position: absolute;
  left: -15%;
  top: -100%;
  width: 247px;
}
.knife {
  position: absolute;
  right: 15%;
  top: 0;
  transform: rotate(-105deg);
  width: 172px;
}
.arrow-right-btn01 {
  display: block;
  margin: auto;
  width: 108px;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) rotate(90deg);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) rotate(90deg);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) rotate(90deg);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) rotate(90deg);
  }

  90% {
    transform: translate3d(0, -4px, 0) rotate(90deg);
  }
}

.section03-waves {
  margin-bottom: -1px;
}
