#section04 {
  background: #000;
  position: relative;
}
.section04__inner {
  display: flex;
  justify-content: flex-start;
}
.section04__inner h2 {
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 120px;
  font-size: 150px;
  font-family: "BungeeShade";
}
.section04__inner h3 {
  margin-left: 120px;
  font-size: 35px;
  font-family: "IropkeBatang";
  line-height: 145.5%;
  margin-bottom: 110px;
}
.section04__inner ul {
  margin-left: 120px;
}
.section04__inner ul li {
  list-style: inside;
}
.section04__inner li a {
  font-family: "IropkeBatang";
  font-size: 30px;
  color: #fff;
}

.section04__strainer {
  position: absolute;
  width: 120px;
  bottom: 15%;
  right: 50%;
  transform: rotate(20deg);
}

.map-line {
  stroke-dasharray: 12 12;
  stroke-dashoffset: 1000;
  animation: dash 30s linear infinite forwards;
}

@keyframes dash {
  to {
    stroke-dasharray: 12 12;
    stroke-dashoffset: 0;
  }
}
