body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1520px;
    /* padding: 20px; */
    margin: 0 auto;
    box-sizing: border-box;
  }

/* header */
#main {
    position: relative;
}
#header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    left: 0;
    top: 0;
}
#header nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
#header nav ul {
    display: flex;
}
#header nav ul a {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 1vw;
    margin: 15px;
    color: #fff;
}
.blog {
    background-image: url(../img/tstory.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background: #fff;
    padding: 5px 10px;
    width: 1vw;
}
/* //header */

/* section01 */
#section01 {
    height: 110vh;
    background: #000;
    position: relative;
}
.section01__inner {
    z-index: 11;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    align-items: center;
    justify-content: center;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
}
.sec01_svg {
    transition: fill 0.3s ease-out;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: translateZ(0px);
    fill: #444444;
}
svg.highlight {
    fill: #fff;
}
.section01__inner > div {
    color: #fff;
    font-family: "116watermelon";
    font-size: 7vw;
    line-height: 0.9;
}
.section01__inner > img {
    margin-top: 40px;
    width: 24vw;
}
.section01__inner .cloud1 {
    background-image: url(../img/bottle-cloud-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vw;
    transform: translate(15%, -80%);
}
/* section01__outer */
.strainer {
    width: 7vw;
    right: 15%;
    bottom: 40%;
    transform: rotate(30deg);
}
.cloud2 {
    width: 20vw;
    left: 27%;
    bottom: 43%;
}
.plane {
    z-index: 12;
}
.plane-body {
    right: 0;
    top: 24.57%;
    width: 20.625vw;
    height: 6.51vw;
}
.plane-cloud {
    width: 100vw;
    top: -850px;
    right: 400px;
}


/* //section01 */

.wrapper {
    display: block;
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    z-index: 15;
}
/* section02 */
#section02 {
    position: relative;
    height: 180vh;
}
.section02__inner {
    z-index: 1000;
    max-width: 1200px;
    margin: 0 20%;
}
.section02__inner .sec02__txt1 {
    padding-top: 20%;
    white-space: nowrap;
    font-family: "116watermelon";
    font-size: 4.5vw;
    margin-bottom: 10%;
}
.section02__inner .sec02__txt2 {
    width: 38%;
    margin-bottom: 5%;
    font-size: 1.5vw;
    font-family: "IropkeBatang";
    line-height: 1.5;
}
.section02__inner .sec02__txt3 {
    width: 60%;
    float: right;
    font-size: 1.5vw;
    font-family: "IropkeBatang";
    line-height: 1.5;
}

/* section02__outer */
.cloud-section {
    bottom: calc(100% - 2px);
    width: 100%;
}

.black-cloud1 {
    width: 20vw;
    top: 10%;
    z-index: 13;
}
.black-cloud2 {
    width: 15vw;
    left: 25%;
    top: 50%;
    z-index: 13;
}
.black-cloud3 {
    width: 20vw;
    left: 5%;
    bottom: 30%;
    transform: rotate(180deg);
    z-index: 13;
}
.halfmoon {
    width: 5vw;
    right: 15%;
    top: 15%;
    z-index: 13;
}
.town {
    width: 60vw;
    bottom: 15%;
    right: 0;
    z-index: 13;
}
/* //section02 */

/* section03 */
#section03 {
    position: relative;
    height: 300vh;
}
.sec03__inner {
    
}
.sec03__txt1 {
    font-family: 'BungeeShade';
    text-align: center;
    font-size: 7vw;
    margin-bottom: 10%;
}
.sec03__card__tit1 {
    text-align: right;
    font-family: '116watermelon';
    font-style: normal;
    font-size: 4.5vw;
    margin-bottom: 5%;        
}
.sec03__card__tit2 {
    font-family: '116watermelon';
    font-style: normal;
    font-size: 4.5vw;
    margin-bottom: 5%;
    margin-top: 20%;
}
.sec03__card {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;

}
.profile01 {
    width: 52%;
    transform: rotate(-6deg);
}
.profile02 {
    width: 52%;
    transform: rotate(6deg);
}
.sec03__card__txt2 {
    width: 38%;
    font-family: 'IropkeBatang';
    font-size: 1.4vw;
}
.divider {
    width: 47%;
    left: 0;
    margin-bottom: 5%;
}

/* section03__outer */
.modal-title-decor {
    width: 18vw;
    right: 16%;
    top: -1%;
    transform: rotate(30deg);
}
.cone {
    width: 7vw;
    left: 25%;
    top: 9%;
}
.cat {
    width: 7vw;
    left: 51%;
    top: 25%;
    transform: rotate(-6.38deg);
}
.petrychka {
    width: 9vw;
    top: 45%;
}
.knife {
    width: 8vw;
    right: 30%;
    top: 48%;
    transform: rotate(-105deg);
}

.arrow-btm {    
    bottom: 20%;
    left: 45%;
    transform: rotate(90deg);
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    from,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) rotate(90deg);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) rotate(90deg);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) rotate(90deg);
    }
  
    80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) rotate(90deg);
    }
  
    90% {
      transform: translate3d(0, -4px, 0) rotate(90deg);
    }
}
.sec03_waves {
    bottom: -1px;
}
/* //section03__outer */